@import url("https://fonts.googleapis.com/css?family=Nunito:300");
body {
  background: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  font-family: 'Nunito', sans-serif;
}

.play-music {
  display: -webkit-box;
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 50;
}

.music-animation {
  display: -webkit-box;
  display: flex;
  margin-right: 10px;
  -webkit-box-align: end;
          align-items: flex-end;
  position: relative;
  top: -5px;
}
.music-animation.on .bar {
  -webkit-animation: bar 1.2s infinite;
          animation: bar 1.2s infinite;
}
.music-animation.on .bar2 {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}
.music-animation.on .bar3 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}
.music-animation.on .bar4 {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}
.music-animation.on .bar5 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.music-toggle {
  cursor: pointer;
  font-size: 20px;
  position: relative;
}
.music-toggle:after {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: #000;
  position: absolute;
  -webkit-transition: .2s;
  transition: .2s;
}
.music-toggle:hover:after {
  width: 100%;
}

.bar {
  width: 1px;
  background-color: #000;
  height: 2px;
  display: block;
  margin: 0 1px;
}

@-webkit-keyframes bar {
  0% {
    height: 4px;
  }
  50% {
    height: 14px;
  }
  100% {
    height: 4px;
  }
}

@keyframes bar {
  0% {
    height: 4px;
  }
  50% {
    height: 14px;
  }
  100% {
    height: 4px;
  }
}
.dance-frame {
  width: 400px;
}


